.carousel {
    width: 99vw;
    height: 25vw;  
    border: 3px solid black;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.carousel-item {
    width: 33vw;
    height: 25vw;  
    position:absolute;
    left:0;
    right: 0;
    transition: all ease 0.7s;
    user-select: none;
}

.carousel__button-control{
    width: 50px;
    height: 50px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 50%;
    font-size: 25px;
    font-weight: 700;
    user-select: none;
}
.carousel__button-control:hover, .carousel__picture-number:hover{
    cursor: pointer;
    background-color: rgb(183, 2, 255);
}

.disable {
    background-color: rgb(46, 4, 63);
    pointer-events: none;
}

.carousel__picture-number{
    font-size: 20px;
    background-color: white;
    color:black;
    margin: 2px;
    padding: 2px 7px;
    border-radius: 50%;
    user-select: none;
    border: 1px solid black;
}
.carousel__current-number{
    background-color:rgb(2, 141, 255);
}


